<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Form Templates</h1>
    <input type="name" placeholder="Enter your name"><br>
    <input type="email" placeholder="Enter your mail"><br>
    <label for="gender">GENDER :</label><br>
    <input type="radio" value="Male" name="gender">Male<input type="radio" name="gender" value="Female">female <br>
    <label for="Skills">SKILL :</label><br>
    <input type="checkbox" name="skills">HTML
    <input type="checkbox" name="skills">CSS
    <input type="checkbox" name="skills">JAVASCRIPT
    <input type="checkbox" name="skills">REACT <br>
    <label for="Country">District</label>
    <select name="Country" id="">select District
    <option value="india">madurai</option>
    <option value="London">chennai</option>
    <option value="Singapore">theni</option>
    <option value="USA">nagarkovil</option>
    </select><br>
    <textarea placeholder="Enter something to this"></textarea>

</body>
</html>