*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 80px;

}

.container div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(219, 213, 213);
    height: 110px;
    width: 350px;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}