header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background:rgba(0,0 ,15px , white);
  border-bottom: 1px solid #0a0303;
  box-shadow:  0  5px 5px;
}
.logo{
    color: rgb(186, 224, 17);
    font-weight: 200;
    
}
.nav-links {
  display: none;   
}

.hamburger {
  display: block;  
  font-size: 28px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .nav-links {
    display: flex;     
    gap: 20px;
  }

  .hamburger {
    display: none;      
  }
}