 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Table</title>
</head>
<body>
    <header> Viruthu Nagar Hindu Nadar , Hr , Sec , School portal</header><br>
    <nav>
        <a href="#">Home</a>| 
        <a href="#">Student</a>|
        <a href="#">Result</a>
    </nav>
    <section>
        <h2>Student mark List</h2>
        <table border="1" cellpadding="10">
    <thead>
        <tr>
            <th rowspan="2">Student Name</th>
            <th colspan="3">Marks</th>
        </tr>
        <tr>
            <th>Tamil</th>
            <th>English</th>
            <th>Maths</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Vignesh</td>
            <td>80</td>
            <td>75</td>
            <td>85</td>
        </tr>

        <tr>
            <td>Silambu</td>
            <td>80</td>
            <td>88</td>
            <td>82</td>
        </tr>

        <tr>
            <td>Naveen</td>
            <td>88</td>
            <td>78</td>
            <td>84</td>
        </tr>

        <tr>
            <td>Vicky</td>
            <td>92</td>
            <td>84</td>
            <td>90</td>
        </tr>

        <tr>
            <td>Raja</td>
            <td>92</td>
            <td>88</td>
            <td>84</td>
        </tr>
    </tbody>
</table>
    </section>
    <footer>
        <p> copyright &copy;2025 VHN-All Rights Are Reserved</p>
    </footer>

</body>
</html>